.star-rating{

}

.star{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('public/star.svg');
    vertical-align: middle;
}

.card-wrap{
    display: flex;
}

.kg-navbar{
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.kg-sidebar{
    position: inherit;
    margin-top: 56px;
    padding-top: 15px;
}

.kg-main-view{
    padding-top: 15px;
    position: inherit;
    top: 57px;
    right: 0;
}

.kg-signin-btn:hover:after{
    content: 'to cuteness'
}

@media (min-width: 768px) {
    .kg-sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 56px;
        border-right: 1px solid #eee;
        padding-top: 15px;
        margin-top: 0;
    }

    .kg-main-view{
        padding-top: 15px;
        position: absolute;
        top: 57px;
        right: 0;
    }
}


hotel-trustyou-component{
    background: #dc3545;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 40px;
}

.trustyou-score{
    align-items: center;
}

.trustyou-score-label{
    display: block;
}

.kd-sidebar-label{
    padding: 4px 8px;
    font-size: 14px;
    background: #ecf0f1;
    color: #2c3e50;
    font-weight: bold;
}